[2018-11-30 08:17] brianlcox opened #1 "Gas CCS world efficiency is zero"
please fix in the REMIND output file when you get a chance ;)

[2019-10-10 14:20] romainsacchi commented on #1
Efficiencies are not set to zero anymore, however, they do still seem to be incorrect.

[2020-09-10 16:19] romainsacchi opened #6 "Create technology-specific electricity networks"
It would be useful to create electricity networks (from high to low voltage) for single technologies.
This is relevant for sensitivity tests (e.g., a BEV car running solely on hard coal).

[2020-09-30 07:00] kais-siala opened #7 "missing yml file with package requirements"
Despite installing the environment that runs the activity browser for brightway2, some packages were missing for this tool:
- wurst
- carculator

[2020-11-16 16:04] tngTUDOR opened #8 "build and run requirements for conda package are identical"
Currently, the requirements to build the coda package, for running and testing are the same.

[code]

I suggest you remove the "testing" packages for the running environment, this would prevent conda from installing `pytest` for example when all you want is to run rmnd-lca, and trust that the tests are "passing".

[2020-11-16 16:07] tngTUDOR opened #9 "requirements include testing packages"
AS with issue #8 , the requirements in the `setup.py` include coveralls and pytest.
I suggest you remove the testing packages in the requirements to slim the amount of packages necessary when installing rmnd-lca.

[2020-11-16 16:27] tngTUDOR opened #10 "a fork is the official publisher but this makes things "unclear""
I have two comments on the fact that the fork from @romainsacchi  is the official publisher of the package: installation and issue creation.

### 1. Installation nightmare

The package is officially published from a fork (the one of @romainsacchi )
The documentation clearly says that to install the package, one has 2 options:

* install with pip *from git*  from the fork of @romainsacchi repositor

[2020-11-16 16:31] tngTUDOR opened #11 "Documentation about remind output files directory"
The documentation mentions:

(in the *Requirements* section)

(in the *How to use it?* section)

but the actual location inside the rmnd-lca package is:

`data/remind_output_files/`

This is a minor cosmetic issue, but I see that the ".gitignore" file

[2020-11-16 16:42] tngTUDOR commented on #9
Per [setuptools documentation](https://setuptools.readthedocs.io/en/latest/userguide/dependency_management.html#optional-dependencies), one could use extras to declare the "test" or "dev" dependencies:

[2020-11-16 18:46] #7 closed, assigned to nobody

[2020-11-16 18:52] Loisel commented on #10
Yeah this is unfortunate, I agree. Afaik there is no possibility to move the *root* project to another user. One would have to recreate the thing. What's your stance @romainsacchi ?

[2020-11-17 09:22] romainsacchi commented on #10
@Loisel: I think we probably should have you managing the CI and publishing, and I would, as a result, stop working on my fork to have one consistent and updated base. Initially, I developed on my fork and published from there because I did not have writing access to yours. If you do not feel like it, we could do the opposite, close this repo and have everything on mine.

[2020-11-17 09:30] tngTUDOR commented on #10
I'm not sure how it all works, but you could try to have @Loisel  [transfer the repo](https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/transferring-a-repository) to  @romainsacchi
*but* the fork situation must certainly be figured out first ( I mean, _What happens when there is a transfer but the recipient has a fork of the repo being transferred ?_)
I guess, that

[2020-11-17 14:48] romainsacchi commented on #10
OK, the repo has been transferred, so it should be (a bit) clearer hopefully now -)

[2020-11-17 14:48] #10 closed, assigned to nobody

[2020-11-17 14:49] romainsacchi commented on #8
That should be fixed now.

[2020-11-17 14:49] #8 closed, assigned to nobody

[2020-11-17 14:50] romainsacchi commented on #9
That should be fixed now, thanks.

[2020-11-17 14:50] #9 closed, assigned to nobody

[2020-11-17 14:50] romainsacchi commented on #11
That should be fixed now, thanks.

[2020-11-17 14:50] #11 closed, assigned to nobody

[2020-11-19 15:40] romainsacchi opened #15 "Uncertainty based on scenarios"
@Loisel
Instead of producing one database per scenario, we could build one database, in which inputs values would be defined as uncertainty ranges based on worst to best REMIND scenario variables values.

Before building the database, one could weight the likelihood of the worst and best scenarios of becoming true ("I believe that there is 60% chance that the world goes to shit, 35% chance that we

[2020-12-03 17:00] tngTUDOR opened #16 "validation of params for NewDatabase"
**O**nce upon a time, a young and proud number was sent to the `NewDatabase` function.
The number was `3`.

It all went well, until it didn't: activity data was gotten, exchange data was filled, global scope was set to datasets with missing location, scope of dataset was set to production exchanges with missing location, technosphere exchanges missing locations were corrected, empty exchanges were

[2020-12-15 14:16] romainsacchi commented on #16
Should be fixed with your PR.

[2020-12-15 14:16] #16 closed, assigned to nobody

[2021-01-05 16:27] DanielStegmaier opened #19 "Missing folders when installing via pip"
In ...\premise\data, the three folders 'additional_inventories', 'iam_output_files' and 'GAINS_emission_factors' seem to be missing when installing via pip install premise.

[2021-01-13 08:19] romainsacchi commented on #19
All the necessary folders should come with now. Thanks!

[2021-01-13 08:19] #19 closed, assigned to nobody

[2021-02-08 10:16] tngTUDOR opened #24 "support of 3.7.1 (and semantic versionning tags of ecoinvent 3)"
#16 hit back: ecoinvent version 3.7.1 is out and this cannot be coerced to a "float".

## Current
The NewDatabase validates the version of Ecoinvent as a "float", but the latest version (of ecoinvent) is a semantic versionning tag: "3.7.1"

AT this point, I think this is more of a "discussion" rather than a formal request for change in the code: Is premise supposed to support "generic" major versi

[2021-02-11 12:28] romainsacchi commented on #24
@tngTUDOR  Indeed, it makes a lot of sense. This will be done, as well as other things, in the next push (maybe today, probably tomorrow).

[2021-03-05 09:43] tngTUDOR opened #26 "release 0.2.0 has missing `additional_inventories` directory"
Hi,

I'm not sure is this is true issue, but when using premise `0.2.0`, I get an error when building a new Database:

The code we use :
[code]
yields:

[code]

When I take a look at the [package at pypi](https://pypi.org/project/premise/#files) [both, the wheel and the tar.gz] the "additional inventories" directory is absent from the package, *but* maybe this is intended ;)

[2021-03-05 09:55] tngTUDOR commented on #26
Version `0.1.9` from [pypi](https://pypi.org/project/premise/0.1.9/#files) included the "additional_inventories missing directory.

[2021-03-05 10:17] tngTUDOR commented on #26
A look at my [fork's travis](https://www.travis-ci.com/github/tngTUDOR/premise/jobs/488444419) provided a hint:

[code]

all files under `premise/data/additional_inventories/` are xls**x**

[2021-03-05 10:40] tngTUDOR commented on #26
- [ ] Maybe you were about to convert the xlsx to xls (openpyxl + xlrd related issue :smirk: ?
- [ ] If not, a quick fix is to update the MANIFEST.in to include xlsx from the `additional_inventories` (I pushed a commit on my fork with this, and travis is running. As soon as tests are OK, I'll send a PR)

[2021-03-05 11:05] tngTUDOR commented on #26
Before actually launching a PR, I think that it would be better to verify if all "xlsx" and all "xls" files must be included in the MANIFEST.in

so far, I can see that there are 29 Excel files (extensions xls and xlsx):

[code]

- `premise/data/additional_inventories/` -> 27 **xlsx** files
- `premise/data/` -> one **xls** file
- `premise/data/iam_output_files/` -> one **xls** files

The `MANIFEST.

[2021-03-09 09:57] romainsacchi commented on #26
@tngTUDOR Indeed, the switch between .xls and .xlsx was messy. Now all files have the .xlsx extension. And hopefully all files should be included now, thanks! The new changes should be published on Anaconda in a few minutes, after the CI tests pass. I also invited you to be a contributor, so whenever you see something fishy, do not hesitate to fix it.

[2021-03-09 09:58] #26 closed, assigned to nobody

[2021-03-09 10:00] romainsacchi commented on #24
So, as of 0.2.0, the following should work:

ndb = NewDatabase(
            scenarios=[
                {"model":"remind", "pathway":"SSP2-Base", "year":2030,},
                {"model":"image", "pathway":"SSP2-Base", "year":2030,},
            ],
            source_db="ecoinvent 3.7 cutoff",
            source_version="3.7" <-- or "3.5", "3.6", "3.7.1"
    )

[2021-03-09 10:00] #24 closed, assigned to nobody

[2021-05-28 12:32] marcosdbw opened #29 "EncodingError"
Hi, I started using premise codes using jupyter lab, and at the moment I am trying to create a NewDatabase by extracting a 3.6 ecoinvent database in ecospold format. However, the following error appears when Importing Default inventories:

MaybeEncodingError: Error sending result: '<multiprocessing.pool.ExceptionWithTraceback object at 0x7fedc3aafbe0>'. Reason: 'TypeError("cannot pickle 'lxml.etre

[2021-05-28 14:01] romainsacchi commented on #29
Hi, I'm afraid I cannot help much.

I just tried it:

ndb = NewDatabase(
             scenarios=[
                 {"model":"remind", "pathway":"SSP2-NDC", "year":2030}
            ],
            source_type="ecospold",
            source_file_path=r"C:\Users\sacchi_r\Dropbox\ecoinvent 3.7.1_cutoff_ecoSpold02\datasets",
            source_version="3.7.1",
            key='xxxxxxxxxxxxxxxxxxxxxxxxx

[2021-05-28 18:57] Loisel commented on #29
Which python version do you use? I encountered errors with pickle in
versions below python 3.9.

Best, Alois

Am 28.05.21 um 16:01 schrieb romainsacchi:

[2021-05-29 16:27] marcosdbw commented on #29
Thanks, Romain, for your help.
Yes, I specified the file path, including the r just in front.
I will keep trying to run it. On my laptop I had no issues, but the code
did not run because it was out of memory after a couple of hours running.
This issue appeared when trying to run it on the server, which has a python
3.8.5. I created a python 3.9 environment to run premise, but this issue
appeared.

[2021-05-29 16:30] marcosdbw commented on #29
Hi Alois, I am running it using a python 3.9 environment (which I had to
create since i have access to a python 3.8.5 server).

Em sex, 28 de mai de 2021 20:57, Loisel ***@***.***> escreveu:

[2021-05-29 17:31] romainsacchi commented on #29
OK. Can you check the version of bw2io being used?
We did not set a version requirement for bw2io, but we should have. It should be at least 0.8.2.

[2021-05-29 18:01] marcosdbw commented on #29
I have just checked bw2io, it is the 0.8.3.1 version.

Em sáb., 29 de mai. de 2021 às 19:31, romainsacchi ***@***.***>
escreveu:

[2021-05-29 20:28] romainsacchi commented on #29
I just tried with bw2io 0.8.3 without an issue. So it's not that.

[2021-05-29 20:29] romainsacchi commented on #29
Hi @cmutel , do you have an idea about this?

[2021-06-01 10:21] marcosdbw commented on #29
Hi @romainsacchi @Loisel . I have just made a double-check on my dataset and found out that the encoding issue was occurring because of my ecoinvent dataset which somehow had some files missing. I extracted the ecospold database again to my PC and premise codes are working fine. Thanks for your help.

[2021-06-01 10:42] romainsacchi commented on #29
You're welcome. Good to hear!

[2021-06-01 10:42] #29 closed, assigned to nobody

[2021-06-01 11:07] cmutel commented on #29
I also couldn't reproduce this - my guess is that not only did you have some files missing (this wouldn't raise an error, they just wouldn't be there), but you also had one or more files which were not completely decompressed, which meant the XML parser couldn't read them, and that is what the `lxml.etree._ListErrorLog` was about.

Not sure why that object wouldn't be able to be pickled. I would a

[2021-06-03 09:16] tngTUDOR opened #30 "0.4.0 package is missing dependency declaration on cryptography"
Although code from the main branch here in github has `cryptography` in the requirements, the 0.4.0 package from pypi does not have it.

- The [wheel](https://files.pythonhosted.org/packages/f0/ab/9d07a9efc55efe6501ba802c965f68696d709c527a3d37d7278d67f6dd04/premise-0.4.0-py3-none-any.whl) `METADATA` has:
[code]
- the [tar.gz](https://files.pythonhosted.org/packages/62/c8/3fba20e96fe376f6cdf29605b6

[2021-06-03 09:24] tngTUDOR commented on #30
This might be the reason you get an [error on the tests at travis](https://travis-ci.org/github/romainsacchi/premise/jobs/772742198#L2920):

[code]

[2021-06-03 12:09] romainsacchi commented on #30
Thanks @tngTUDOR. It should be fixed now with the last commit.

[2021-06-03 12:09] #30 closed, assigned to nobody

[2021-06-11 11:13] marcosdbw opened #31 "InvalidLink: Exchange links to non-existent activity"
Hi all,
I am running premise using an ecoinvent 3.6 ecospold database. Everything is working fine when creating new databases using REMIND SSP2_NDC scenario for many different years and then writing them to Brightway2 format. However, when using REMIND SSP2_Base, NPi, and PkBudg scenario, an error appears when writing the new database to Brightway2. It is something related to exchange links to a n

[2021-06-19 09:08] Chengjian-Xu opened #32 "How long will it take to create a new database incorporating IAM?"
My computer has run over one day, and still not finish...

[2021-06-19 16:14] #32 closed, assigned to nobody

[2021-06-22 14:09] romainsacchi commented on #31
Hi @marcosdbw ,

sorry about this. May I have the exact lines that you ran to produce this error?

[2021-06-22 15:35] marcosdbw commented on #31
Hi @romainsacchi, thanks for your reply. Sure. Please see below the exact lines that I ran (I deleted the encryption key). Everything runs fine, all update/transformation functions work fine, but the error appears at the end when writing the new database do BW format.

ndb = NewDatabase(
        scenarios = [
            {"model":"remind", "pathway":"SSP2-PkBudg1300", "year":2030}
        ],

[2021-06-23 18:24] romainsacchi commented on #31
Hi @marcosdbw ,

the latest version on anaconda cloud should fix your issue.
Let me know.

[2021-06-24 08:59] marcosdbw commented on #31
Hi @romainsacchi,
Great. I have just tested the latest version and is working perfectly.
Thanks very much.

[2021-06-28 07:17] kais-siala opened #33 "geomatcher - add an option to choose the model resolution"
Currently, premise loads the geomatcher from wurst, which already has predefined model regions for IMAGE and REMIND.
However, there are now two possible spatial resolutions for REMIND, and we could expect that there would be more possibilities in the future.
How should we deal with that?
1) we could edit wurst and add the option there
2) we could shift the addition of the regions to premise instea

[2021-06-30 07:26] tngTUDOR commented on #33
Hi,
Here's my point of view.

It seems to me that `premise` uses wurst for some "basic" tasks (like _geomatching_). This allows `premise` to be focused on `modelling related` tasks.

With this in mind, I would suggest to update `wurst` to be able to handle the new resolution levels of REMIND, so that not only `premise`, but other tools can rely on `wurst`. In this case, the most important modifica

[2021-07-10 15:03] #31 closed, assigned to nobody

[2021-07-10 15:06] romainsacchi commented on #33
I concur with @tngTUDOR , the topology definitions should be added within `wurst`, as we did when we added topology definitions for REMIND (only those of IMAGE were present until then).

[2021-07-12 08:17] kais-siala commented on #33
Yes I created a pull request in wurst following your advice. Thank you both.

[2021-07-12 09:08] romainsacchi commented on #33
Thanks, I merged your PR. I will ask Chris to upload the change to Pypi.

[2021-07-12 09:08] #33 closed, assigned to nobody

[2021-10-27 12:55] CHarpprecht opened #45 "move hardcoded lists in function find_efficiency into yaml file"

[2021-10-31 09:05] romainsacchi commented on #45
This is now done with 46f8c32 and 2c42ac8.

[2021-10-31 09:06] #45 closed, assigned to nobody

[2021-11-04 14:57] romainsacchi opened #48 "Preserve national markets for electricity, and make they point to regional market groups"
Currently, national market datatsets are deleted to avoid confusion for the user.
However, there are some issue related to this, especially as scenarios are merged into a superstructure database.
One of the issues is that user models have to be modified to link to prospective databases since some markets do no longer exists.

I guess this should apply to all sectors, not just electricity...

[2021-11-11 10:40] cmutel opened #49 "`KeyError` when running default Premise with `update_cement()`"
Fresh install of default branch of Premise (git head) against Brightway 2.5 gets a `KeyError` when `update_cement()` is running. Other transformations seem to work so far.

Error:

[code]

[2021-11-11 12:33] dlr-bf opened #50 "decision pending: implement logical filtering on the atomic level for database operations"
see file transformation_tools.py the factories to create filter functions for the filters like get_many(). Relation between filters are currently either all and or all or. Do we want to implement a per atomic unit (one filter statement) relationship as and, and or? if yes, we could go along the road of classes with overloaded operators.

[2021-11-11 12:50] dlr-bf opened #51 "dicussion pending: move creation of loc matching table into one operation"
Create for each tech a matching table for the iam vs ecoinvent loc at one single point in the workflow to avoid inefficeint looping.

[2021-12-16 14:51] CHarpprecht opened #53 "Add GWP of hydrogen to impact category"
Add GWP of hydrogen to air to impact category of climate change to account for H2 leakages in a hydrogen economny

GWP: 5.8 kg CO2-eq / kg H2
according to Derwent et al. 2006

Derwent, R.G., Simmonds, P.G., O'Doherty, S.J., Manning, A.J., Collins, W.J., & Stevenson, D.S. (2006). Global environmental impacts of the hydrogen economy. International Journal of Nuclear Hydrogen Production and Applicati

[2021-12-18 18:42] romainsacchi commented on #53
Done. The library `premise_gwp` [here](https://github.com/romainsacchi/premise_gwp) does just that now, based on a more recent study of [Derwent et al](https://www.sciencedirect.com/science/article/pii/S0360319920302779). The library also installs a version of the IPCC method, with -1/+1 CFs for biogenic CO2.

[2021-12-18 18:42] #53 closed, assigned to nobody

[2022-02-02 15:13] CHarpprecht opened #55 "Pickling of additional inventories into cache is not working"

[2022-02-02 15:20] #55 closed, assigned to nobody

[2022-02-07 15:48] Shima-Fa opened #56 "module 'bw2calc' has no attribute 'ComparativeMonteCarlo'"
Hi,
After installing the latest version of Premise(1.0.0) I am running through problems with installed packages and get errors.
Right now I am not able to create any new database anymore cause of this error:
....................................................................................................................................................................
[code]
....................

[2022-02-07 15:57] Shima-Fa commented on #56
My conda env List:
<details><summary></summary>
<p>

####

[code]
[code]

[2022-02-07 16:03] romainsacchi commented on #56
Hi @Shima-Fa ,

yes, we've been made aware recently of this issue. Try to downgrade `scipy` to 1.7.

[2022-02-07 16:52] Shima-Fa commented on #56
@romainsacchi
Thank you very much! this problem is solved

[2022-02-07 16:52] #56 closed, assigned to nobody

[2022-02-08 13:52] CHarpprecht opened #57 "SS-difference file misses required columns for AB"
error when loading SS-diff-file into AB for scenario-based LCA
`
Superstructure: Missing required column(s) for superstructure: ['from database', 'from key', 'to database', 'to key']
`

[2022-02-08 13:57] CHarpprecht opened #58 "scenario-difference-file contains all exchange data instead of only differences"

[2022-02-08 14:03] CHarpprecht commented on #57
Could it be, that the "flow type" column, which we have in the current export, is only required if the scenario data is read as a presamples-input file?
I think for the "normal" superstructure approach, this is not required if "from database" and "to database" or the keys are specified.

[2022-02-08 14:47] CHarpprecht commented on #57
The AB does not calculate scenario results with "from database" and "to database" only, but without the keys. It seems that the keys are still required.

[2022-02-08 15:13] CHarpprecht opened #59 "Update_electricity() does not work for remind scenarios"
Update_electricity()  does not work for remind scenarios (I imported only 1 remind scenario). It produces the following error:

+------------------------------------------------------------------+
| Warning                                                          |
+------------------------------------------------------------------+
| Because some of the scenarios can yield LCI databases

[2022-02-09 11:30] romainsacchi commented on #59
This works on my end.
Can you check the version of `wurst` you use?
It should be pinned to `0.3.0`.

[2022-02-09 11:40] CHarpprecht commented on #59
I have version 0.3.1, should it be downgraded to 0.3.0?

[2022-02-09 11:42] romainsacchi commented on #59
Yes. I have specified it in the requirement file, hence I'm wondering how it is you have 0.3.1.
`wurst 0.3.1` is meant to work with the new REMIND files (with additional European sub-regions), ... which we do not yet have.

[2022-02-09 11:57] CHarpprecht commented on #59
Thank you, setting wurst to version 0.3.0 resolved the problem :)

[2022-02-09 11:57] #59 closed, assigned to nobody

[2022-02-09 13:12] CHarpprecht opened #60 "categories and location columns are mixed up sometimes"
![grafik](https://user-images.githubusercontent.com/47253039/153207836-8537a8b8-1c96-4808-a45d-45d355f5cb96.png)

[2022-02-09 13:14] CHarpprecht commented on #57
"to database" has no entry for biosphere flows

![grafik](https://user-images.githubusercontent.com/47253039/153208280-861693d1-6e58-4374-bb5a-cb8d05404532.png)

[2022-02-09 14:00] #57 closed, assigned to nobody

[2022-02-09 15:36] #60 closed, assigned to nobody

[2022-02-09 15:36] #58 closed, assigned to nobody

[2022-02-16 14:39] #49 closed, assigned to romainsacchi

[2022-02-16 14:40] #1 closed, assigned to nobody

[2022-02-17 08:11] tngTUDOR commented on #56
bw2calc 1.8.1 has a fix for this:
https://github.com/brightway-lca/brightway2-calc/issues/43

[2022-02-28 14:50] marcosdbw opened #61 "KeyError when creating NDC databases"
Hello, I am running the most updated version of premise. When I try to create SSP2-NDC databases, an error appears when extracting the IAM Data (as shown below). I did not have any issues when creating databases for Base, PkBudg, etc using ecoinvent 3.6. Could you please help me to solve this? Thanks again!

//////////////////// EXTRACTING SOURCE DATABASE ////////////////////
Done!

//////////////

[2022-03-07 08:26] tngTUDOR opened #62 "0.4 (and potentially 1.0) versions are not compatible with python 3.8"
## Current
A python 3.8 environment allows to install with **pip only dependencies** `premise>=0.4,<1.0.0`, but the tests won't pass.

## Expedted
If premise is intended to be used with `python>=3.9` only, then it should declare it so that it cannot be installed in `python<3.9`.

[code]

This is the python 3.9 environment I used to test:

Package                 Version
----------------------- ---

[2022-03-07 11:01] tngTUDOR commented on #62
All errors seem to come from [carculator](https://github.com/romainsacchi/carculator).

- `../../../miniconda3/envs/premise-dev/lib/python3.8/site-packages/carculator/energy_consumption.py:135: in EnergyConsumptionModel
) -> tuple[Union[float, Any], Any, Union[float, Any]]:
E   TypeError: 'type' object is not subscriptable`

[2022-03-07 12:11] tngTUDOR commented on #62
I openned an [issue in carculator ](https://github.com/romainsacchi/carculator/issues/26) to fix this. When a new release of carculator is out, we can maybe close this one.

[2022-03-08 16:59] romainsacchi commented on #62
Thanks for that. Should be fixed now.
`premise`>1.0.0 no longer uses directly `carculator`, so the issue should not arise there.

[2022-03-08 17:06] #62 closed, assigned to nobody

[2022-03-08 18:37] romainsacchi commented on #61
Hi, thanks for spotting this.

It seems the NDC scenario, being a bit old, does not have some of the necessary variables.
I just push a commit that adds warning messages when the variables are missing.

[code]

Consequently, certain transformation, like `update_steel()` or `update_cement()` won't work with this scenario.
A solution would be to ask REMIND's team to provide us with an updated NDC sc

[2022-03-08 18:37] #61 closed, assigned to nobody

[2022-03-09 08:51] marcosdbw commented on #61
Hi @romainsacchi, thank you very much for your help.
I will install premise again and run the NDC scenarios.

[2022-03-09 09:37] romainsacchi commented on #61
Yes, but if you use the NDC scenario, you cannot run `update_all()`, since `update_cement()` and `update_steel()`, which are triggered by `update_all()`, will fail.
As I see it, you can only run `update_electricity()` and `update_fuels()`.

[2022-03-09 09:43] marcosdbw commented on #61
Got it, thanks, @romainsacchi !

[2022-03-09 12:52] marcosdbw commented on #61
Hi. After installing premise again (using conda install -c romainsacchi premise),
there is still an error appearing when running the code for NDC scenario, for update_fuels(), as described below.
thanks!
---------

IndexError                                Traceback (most recent call last)
Input In [10], in <module>

---> 21 ndb.update_fuels()
     22 #ndb.update_solar_PV()
     23 #ndb.update_car

[2022-03-18 12:37] simb-sdu opened #64 "cut-off only?"
Hi

the readme mentions support for ecoinvent 3.8 cut-off database. Does this mean that APOS/consequential databases does not work? And what would it require to support these?

[2022-03-21 17:32] simb-sdu opened #65 "fix: export to superstructure"
Got an error when exporting ecoinvent 3.8 cutoff to a superstructure database: rows exceed allowed max.

fix:

Anaconda3\envs\PREMISE\Lib\site-packages\pandas\io\formats\excel.py
line 472

increase the value for max rows

[2022-03-22 17:05] marc-vdm opened #66 "Pruning scenario output files"
The current scenario output files are rather large, and I think we can prune quite some rows automagically.

Consider for example the (top of the) below file:
![image](https://user-images.githubusercontent.com/34626062/159533699-c0e38a1a-ed6f-464a-9d6b-49cc7b1d3a77.png)
All values except the last row are the same for all scenario options. In that case we don't need to store them in the file.

Assu

[2022-03-23 18:27] simb-sdu commented on #66
Hi Marc. a bvit off topic, but how are you able to export so mine lines? i get an error that i exceed max lines (about 200k)

[2022-03-24 08:32] marc-vdm commented on #66
Sorry, received these files from someone else, I didn't make them. Perhaps reach out to [support](https://github.com/polca/premise#support) for help with premise problems.

[2022-03-24 14:35] simb-sdu commented on #66
Thank you, I will contact the support

[2022-03-25 22:56] Lmachinferrero commented on #61
Hi!
Did you fix the error? or find a solution?

[2022-03-28 15:47] marcosdbw commented on #61
Hi @Lmachinferrero . Nope, the error still appears.

[2022-03-28 16:47] romainsacchi commented on #61
Hi @Lmachinferrero,
there's no really fix or solution to this issue, as it is stemming from the fact that the NDC scenarios shipped with premise do not contain the necessary data to operate all the transforming functions. Hence, only `update_electricity()` works with this scenario. We depend on IAM developers to provide us with updated scenario files.

[2022-03-28 17:09] romainsacchi commented on #64
Hi,
we are working on having `premise` work with the consequential version of ecoinvent.
At least for the building of electricity and fuel markets. We should have a working version in a month or so.
What is needed is to build the logic behind building marginal mixes from the IAM scenario data and to identify supply-constrained suppliers.

[2022-03-28 17:10] romainsacchi commented on #65
That is surprising.
May I know what type of transformation and which scenario you have used to create your superstructure database?

[2022-03-28 18:00] simb-sdu commented on #65
I was able to circumvent the issue by increasing the` max_columns` variable in `Anaconda3\envs\PREMISE\Lib\site-packages\pandas\io\formats\excel.py`

A few days later, i reinstalled the environment and the issue disappeared (without changeing `max_columns`). This surprises me, as I had already tried said solution before posting this issue

[2022-03-28 18:01] simb-sdu commented on #65
`{"model":"remind", "pathway":"SSP2-Base", "year":2020},`
`update_all()`

[2022-03-28 18:05] simb-sdu commented on #65
It seems the` update_all()` gives some errors, as i am able to load the superstructure file in AB, but get assertionerror: missing keys when i try to calculate results.

To test, i managed to create a functioning superstructure database which only transformed `update_steel()`. @marc-vdm was kind to try and help troubleshoot, and suggests the error is when exporting the brightway superstructre data

[2022-03-28 18:09] romainsacchi commented on #65
Could you make sure you pulled the latest version (1.0.6 or 1.0.7) and let me know if this issue persists?
I remember encountering this issue because of some outdated biosphere flows, which I then fixed a few days ago.

[2022-03-28 18:14] simb-sdu commented on #65
I tried updating to 1.0.6 (as well in a brand new environment) but this version gave errors with `NewDatabase()` hence I had to downgrade to 1.0.5. Will try with 1.0.7 once i get time, and report back

[2022-03-28 18:16] romainsacchi commented on #65
Sorry about this.
Could you paste here the error you got? That's also useful, to make sure it is not reproduced in ulterior versions.

[2022-03-29 15:14] CHarpprecht opened #68 "Superstructure scenario-diff-file: first row is empty"
The first row in the scenario difference file for the superstructure is just empty, the actual headers are in the second row, while they should be in the second row:

![grafik](https://user-images.githubusercontent.com/47253039/160643871-94d716d6-babd-4a81-a08d-2aea76d7efb3.png)

The activity browser then throws an error as it cannot find the right headers in the first row of the excel file.

Curr

[2022-03-30 12:30] romainsacchi commented on #68
Hi, this is now fixed in #69, leading to v.1.0.8 in pypi/conda, along with the other issue of having duplicate rows.

[2022-03-30 12:30] #68 closed, assigned to nobody

[2022-03-30 12:33] romainsacchi commented on #66
Hi @simb-sdu @marc-vdm , this issue should now be fixed with #69, leading to the release of v1.0.8 on pip/conda.
There were indeed duplicate rows exported in the scenario difference file. There was also an issue of a blank row instead of the headers, as signalled in  #68 .

[2022-03-30 12:33] #66 closed, assigned to nobody

[2022-03-30 12:35] romainsacchi commented on #65
Issue fixed with #69 . Update to v.1.0.8.

[2022-03-30 12:35] #65 closed, assigned to nobody

[2022-03-30 12:36] romainsacchi commented on #64
As for the APOS system model, there is not much interest in pursuing that path it seems, so no plans for that for the moment.

[2022-03-30 12:36] #64 closed, assigned to nobody

[2022-03-30 15:18] CHarpprecht commented on #68
Wonderful, thank you! :)

[2022-04-05 13:27] simb-sdu opened #70 "superstructure write to BW: ValueError: This sheet is too large!"
when I run `ndb.write_superstructure_db_to_brightway()` I get the following error
Freshly installed env with premise 1.08

[code]

[2022-04-06 09:33] romainsacchi commented on #70
Hi @simb-sdu , can you tell me the exact scenarios you tried to produce?

[2022-04-06 11:29] simb-sdu commented on #70
Hi Romain, it is EI 3.8 SSP2-base for the years 2020, 2050, and 2100

Had the use before, but it seemingly disappeared on its own. Now running the same code and a new pc raises this issue.

Yesterday, I changed the value of `max_cols` in `~\Anaconda3\envs\premise\lib\site-packages\pandas\io\formats\excel.py` and got it working. But it surprises me that this is necessary?

[2022-04-06 14:18] romainsacchi commented on #70
Yes, I think `premise` produces excel files that are unnecessarily too long.
Some rows in the excel file should not be.
I will look into it and come back with a fix.

[2022-04-07 12:20] romainsacchi commented on #70
Hi @simb-sdu,
I think I fixed the issue, but not quite sure. Hence, I´d be grateful if you can test it out for me before I make the release public.
If you are willing, then you can:
* uninstall (`pip uninstall premise` if you used pip)
* install the current development version of premise by doing `pip install git+https://github.com/polca/premise.git`
* to make sure you got the proper version, it

[2022-04-07 13:02] romainsacchi commented on #70
I will otherwise try also on my end in the meanwhile.

[2022-04-08 07:13] romainsacchi commented on #70
Hi @simb-sdu ,
it seems to work fine now. I re-produced the three scenarios you mentioned, and the Excel file is now "only" 353'000 rows long and 17 mb large. So I will push the `1.0.9` release to Pypi and consider the issue closed unless you experience something different on your end.

[2022-04-08 07:13] #70 closed, assigned to nobody

[2022-04-08 08:49] simb-sdu commented on #70
Hi Romain

Thanks for looking into this. Sounds like a great improvement in efficiency from 2.5M rows to 0.35M rows!
And sorry for not being able to test before the push of 1.0.9, I have so much going on at this moment

I just ran  `pip install --upgrade premise` but now I get an error when running `import premise` or `from premise import *`

[code]

[2022-04-08 08:56] romainsacchi commented on #70
@simb-sdu sorry, you can fix that in the meanwhile by installing schema `pip install schema`.
I will push a fix.

[2022-04-08 09:14] simb-sdu commented on #70
thank you

[2022-05-05 13:58] romainsacchi commented on #48
Done.

[2022-05-05 13:58] #48 closed, assigned to nobody

[2022-05-27 17:48] MaximeAgez opened #71 "Error with SimaPro export"
Hello,

I generated a version of ecoinvent SSP2-RCP19 and could download through brightway2 in activity-browser without any issue, but when I tried to export to SimaPro I get an error.

![image](https://user-images.githubusercontent.com/24285636/170762353-32d4098d-0c3a-471d-af37-44c738b86f29.png)

In case it's useful, I integrated IAM projections within my database though .update_all()

I'm using

[2022-07-06 10:04] ar-ali opened #72 "Unable to import premise"
Hi,

I am unable to import premise. Please find the screenshot attached. Can someone please help?

Abdur
![Capture](https://user-images.githubusercontent.com/75308720/177525884-f6c53b30-aed2-43f9-a177-2d6417ba5015.JPG)

[2022-07-06 11:11] tngTUDOR commented on #72
Hi @ar-ali , can you please provide a bit more information of your environment. For example, python version, premise version.
Since it appears that you might be using Anaconda, maybe you could provide the output of:
(in your LCALAB environment)
[code]

[code]

[2022-07-06 11:19] tngTUDOR commented on #72
I can see that there was an [issue](https://github.com/polca/premise/issues/62) with the same error message.
It used to arrive with python 3.8 and premise < 1.0

[2022-07-06 11:40] ar-ali commented on #72
I have python 3.9.12 and premise 1.0.8
![1](https://user-images.githubusercontent.com/75308720/177542054-dc5f4cc9-9979-4ea7-ac62-532760be0446.JPG)
![2](https://user-images.githubusercontent.com/75308720/177542059-ef38544f-c469-4d14-a5df-e8141245c173.JPG)

[2022-07-06 12:07] tngTUDOR commented on #72
I'm unable to reproduce the error you get (because I don't have a windows machine available at the moment to test). On a Linux install, it works fine for me with both, premise 1.0.8 and 1.1.8 .

Have you tried to update premise ? for example with:

[code]

also, you might want to update pip and conda.

[code]

[code]

[2022-07-06 13:13] ar-ali commented on #72
Thank you, I created a new environment, and it seems to be working.

[2022-07-06 13:47] #72 closed, assigned to nobody

[2022-07-19 20:15] romainsacchi commented on #71
Hi @MaximeAgez ,
the issue should be gone now with v.1.2.0.
Have a try and let me know.

We also just opened a discussion group here: https://groups.io/g/premise

[2022-07-19 20:15] #71 closed, assigned to nobody

[2022-07-21 09:00] xiaoshir opened #75 "Issue extracting IAM data"
I just tried using premise 1.2.0 and 1.2.3, and got the following error message setting up new databases. In particular, it fails in the step of extracting IAM data:

Traceback (most recent call last):
  File "C:\miniconda3_py37\envs\materials\lib\site-packages\IPython\core\interactiveshell.py", line 3398, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\zhang_x\A

[2022-07-21 09:12] romainsacchi commented on #75
Can you let me know if v.1.2.3 has fixed the issue?

[2022-07-21 10:54] xiaoshir commented on #75
@romainsacchi Yes, it is okay now in 1.2.4

[2022-07-21 10:55] xiaoshir commented on #75
I close it here

[2022-07-21 10:56] #75 closed, assigned to nobody

[2022-07-22 08:38] xiaoshir opened #76 "Scenario correspondence in REMIND: 'SSP2-PkBudg1150' and 'SSP2-PkBudg500' vs. 'SSP2-PkBudg1300', 'SSP2-PkBudg900',"
It looks like for REMIND scenarios, the current latest version of premise (1.2.4) supports two new scenarios ('SSP2-PkBudg1150', 'SSP2-PkBudg500') than the old ones ('SSP2-PkBudg1300', 'SSP2-PkBudg900) included in the previous versions.

Does 'SSP2-PkBudg1150' correspond to 'SSP2-PkBudg1300' in terms of being comparable to 'SSP2-RCP26' in IMAGE?
Similarly, for 'SSP2-PkBudg 500', does it correspond

[2022-08-05 16:08] gbatot opened #80 "Unable to work with the new IAM data (REMIND / update_fuels)"
Hi,

Since the recent updates, I am unable to set up databases with the new REMIND scenarios already included in the library. It works fine with the REMIND “SPP2-Base” scenario, yet I got an error with the others during the update_fuels step.

It seems that during the generation of new fuel markets, no suppliers can be identified.

Any ideas how to solve this issue?

Many thanks.

---
Here is the

[2022-08-09 14:07] romainsacchi commented on #76
Hi @xiaoshir,

actually, the old scenarios are no longer available. It is described here: https://premise.readthedocs.io/en/latest/extract.html#current-iam-scenarios

I update the examples notebook, thanks.

Yes, PkBudg1150 corresponds to a RCP of 2.6, and PkBudg500 corresponds to a RCP of 1.9. As for the Baseline, one should use SSP2-NDC, not SSP2-Base (which is worst case, heading for +3.5C by 2

[2022-08-09 14:07] #76 closed, assigned to nobody

[2022-08-09 17:26] romainsacchi commented on #80
Hi @gbatot ,
sorry about this. This should be fixed with v.1.2.5 which should be up any minute now.
Don't forget to `clear_cache()` after updating.
Let me know and re-open the issue if it's not fixed.

[2022-08-09 17:26] #80 closed, assigned to nobody

[2022-09-26 10:46] Loisel opened #85 "Cannot load brightway2 after clean install: bw2_calc has not attribute..."
After a clean install in a fresh environment via `conda install -c romainsacchi premise` (conda 4.13.0) I end up with the following error message when trying to load brightway2 as part of the example [notebook](https://github.com/polca/premise/blob/master/examples/examples.ipynb):
[code]

Steps to reproduce:
[code]
conda log:
[log.txt](https://github.com/polca/premise/files/9645455/log.txt)

[2022-09-26 11:20] romainsacchi commented on #85
Hi, try to update bw2calc to the latest release version. You can look it up on pypi.

[2022-09-26 11:42] Loisel commented on #85
Hi, thanks for the quick reply (as always). From the [github](https://github.com/brightway-lca/brightway2-calc) page I'd say the most recent version is 2.0.dev12. This is the version that is also installed by conda (see log.txt in the issue desc).

Installing bw2 directly via
[code]
works, however.

[2022-09-26 11:46] romainsacchi commented on #85
Right, so that is the development version.
Try instead installing v. 1.8.1
https://pypi.org/project/bw2calc/ <https://pypi.org/project/bw2calc/>

[2022-09-26 11:49] Loisel commented on #85
This works, thanks. It might be worth adding a note to the installation instructions.

[2022-09-26 12:10] #85 closed, assigned to romainsacchi

[2022-10-17 12:41] Shima-Fa opened #87 "Database (ecoinvent) import problem- InvalidExchange error"
Hi,
with the latest version of Premise (1.3.2) I have tried to import the _ecoinvent cutoff_ database as defined as below:

[code]

however I have got the **InvalidExchange** error for some reason:

[code]
accordingly I am not able to create the premise new datasets, since the base database could not be written. I have had **NO** problem with above approach of importing ecoinvent datsets in previo

[2022-10-17 12:45] romainsacchi commented on #87
HI, can you maybe try to update your biosphere?
Update to the latest version of bw2io and then:
`bw2io.create_default_biosphere3()`
I think this is the one.

[2022-10-17 13:00] cmutel commented on #87
@Shima-Fa We just updated `bw2io` to be compatible with ecoinvent release 3.9. However, 3.9 also deleted some biosphere flows, and I guess that these flows are what is missing. I will need to confirm this; in the mean-time, could you please do the following:

- Print out the versions you are using of `bw2io` and `bw2data`, i.e. `bw2io.__version__` and `bw2data.__version__`.
- Try to downgrade `bri

[2022-10-17 13:32] Shima-Fa commented on #87
@cmutel @romainsacchi

These are the packages you mentioned, that I am using with latest version of premise:
[code]
I have tried both suggested solutions but still I am getting the same error. I have to mention that at the moment I have only access to ecoinvent 3.8

[2022-10-17 13:34] cmutel commented on #87
Yes, `bw2io` 0.8.8 is only ecoinvent 3.9 compatible. But the command to create a new environment should work? In any case, I will fix this in the next 2 days.

[2022-10-17 13:36] cmutel commented on #87
This isn't a `polca` problem, so I am closing it here, and tracking this problem at the linked `bw2io` issue.

[2022-10-17 13:36] #87 closed, assigned to nobody

[2022-10-17 13:44] Shima-Fa commented on #87
@cmutel  No unfortunately it did not work with the new environment creation, but thanks for taking care of it

[2022-10-19 16:26] tngTUDOR commented on #87
I'm trying to reproduce the issue and I noticed that the number of "datasets" for ecoinvent 3.8 cutoff are different. I see `19565`, but  @Shima-Fa shows `19128`.

[2022-10-20 09:50] tngTUDOR commented on #87
The issue 🦠 in bw2io is [143](https://github.com/brightway-lca/brightway2-io/issues/143)

[2022-10-20 10:08] tngTUDOR commented on #87
@Shima-Fa, you can try using an environment with a slightly outdated bw2io to make things work for you while wating for a fix if #143 of bw2io.

(I used [mamba](https://github.com/conda-forge/miniforge#mambaforge) instead of conda, but they should be equivalent)
[code]
⬆️ creates an environment with dependencies that allow to import ecoinvent 3.8 cutoff correctly.
The dependencies I get are:

[cod

[2022-10-21 11:52] Shima-Fa commented on #87
@tngTUDOR Thank you very much for this offered solution, I tried it and it worked just smoothly.

 I am looking forward to the next update of the premise to be compatible with ecoinvent 3.9 too.

[2022-10-27 09:58] pathiran22 opened #89 "Getting the state of our NewDataBase object"
Hello,
Are there convenient methods to get information about the state of our NewDataBase object ?
For instance, what are the scenarios, what has already been updated or not, etc. ?

[2022-11-07 10:16] Shima-Fa opened #90 "No brightway2 package found in proven version of premise 1.3.9"
Hi again, @cmutel @romainsacchi

after installing the 1.3.9 version, it seems like brightway2 package is not included . Since I was working with brightway2 projects , and I checked the package repository for any compatible update with premise or substitution with other packages and I could not find anything, I was wondering will the brightway2 be included in next updates of premsie again, or shoul

[2022-11-07 10:41] romainsacchi commented on #90
Hi,
Yes,, this is normal as only bw2io and bw2data are needed by premise.
You can always install the whole Brightway framework afterwards.

Sent from my iPhone

[2022-11-07 12:36] Shima-Fa commented on #90
@romainsacchi , Thank you!

[2022-11-07 12:36] #90 closed, assigned to nobody

[2022-11-29 15:03] xiaoshir opened #92 "Shared region between ecoivent and IAM "WEU" has different definitions"
Please see below
![image](https://user-images.githubusercontent.com/28433916/204564931-ec580bbe-bb02-4514-b88f-fdf86eab0bc3.png)